<!DOCTYPE html>
<html>
<head>
	<title></title>
<!-- 与首页的一样  重复加载 start -->
<include file="Assis:init_css"/>
<!-- 与首页的一样  重复加载 end -->
<!-- 分页样式 -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/list_page.css"/>
<!-- 分页样式 -->
<include file="Assis:init_js"/>

</head>
<body>
<div class="wrap js-check-wrap">
    <ul class="nav nav-tabs">
		<li class="active"><a href="{:U('/Admin/index/dealManage')}" >成交客户管理</a></li>
		<li><a href="{:U('/Admin/index/collegeSchoolAdd')}" >添加客户</a></li>
	</ul>
		
	<form name="sel_college" class="well form-search" action="{:U('/Admin/index/dealManage')}" method="post">
	    项目状态：
		<select name="status" style="width: 200px;">
			<option value="0">全部</option>
			<option value="1">已收首款</option>
			<option value="2">项目已完成</option>
		</select>
        
		 &nbsp; &nbsp;
		公司名称：
		<input type="text" name="name" style="width: 200px;" value="" placeholder="请输入公司名称">
		<input type="button" onclick="sel_college_list()" class="btn btn-primary" value="搜索">
		<input type="reset" class="btn btn-danger" value="清空">
	</form>
		
	<form name="college_list" class="js-ajax-form" novalidate="novalidate">
		<include file="College:Assis/school_list_mast"/>
	</form>
</div>


<script type="text/javascript" src="__PUBLIC__/admin/js/ajaxpost_college.js?v=20191218"></script>

</body>
</html>
